<div class="col-md-12">
  <div class="row">
    <div class="col-md-4">
      <img src={{product.image}} height="150px" width="250px"/>
    </div>
    <div class="col-md-4">
      <div class="row">
        <h3 class="center"><a [routerLink]="['/product', product._id]">{{product.name | uppercase}} </a></h3>
      </div>
      <div class="row">
        <span class="italics">{{product.description}}</span>
      </div>
    </div>
    <div class="col-md-4 col-center">
      <div *ngIf="product.count !== 0">
        <div class="row space">
          <div class="col-md-12">
            <h5 class="orderTitle">
              <span>Cena: {{product.price | zl}}</span>
            </h5>
            <h5 class="orderTitle">
              <span>Wybrano: {{product.order}}/{{product.count}}</span>
            </h5>
          </div>
        </div>
        <div class="row space">
          <div class="col-md-6">
            <button class="btn btn-danger buy-size btn-pointer" [disabled]="product.order === 0" type="button" (click)="removeOrder()">-</button>
          </div>
          <div class="col-md-6">
            <button class="btn btn-success buy-size btn-pointer" [disabled]="product.order === product.count" type="button" (click)="addOrder()">+</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div *ngIf="product.count === 0" class="notAvailable"><h5>PRODUKT NIEDOSTĘPNY</h5></div>
          <button *ngIf="tempPrice === 0 && product.count !== 0" class="btn btn-secondary buy-size" [disabled]="tempPrice === 0" (click)="addToCart(product)">{{tempPrice | zl}}</button>
          <button *ngIf="(product.amount + product.order) !== 0 && tempPrice !== 0" class="btn btn-success buy-size" [ngClass]="{'btn btn-success btn-pointer buy-size': tempPrice > 0}" [disabled]="product.order === 0" (click)="addToCart(product)" class="btn btn-primary">{{tempPrice | zl}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
