.center {
  text-align: center;
}

.italics {
  font-style: italic;
}

.buy-size {
  width: 100%;
}

.space {
  margin-top: 5px;
  margin-bottom: 5px;
}

.orderTitle {
  text-align: center;
}

.notAvailable {
  text-align: center;
  margin-top: 60px;
  color: red;
}

.row {
  padding-top: 10px;
  padding-bottom: 10px;
}
